# Data Description Link

### https://docs.google.com/document/d/1IFM2V23cpF2aGsHKa1FEkAwuKxvcOCa3tuFeHTqlo2A/edit?usp=sharing

In [1]:
import pandas
import numpy
import re
import sys
!{sys.executable} -m pip install bs4
!{sys.executable} -m pip install lxml
from bs4 import BeautifulSoup
from datetime import datetime
import unidecode

Requirement already satisfied: bs4 in /opt/anaconda3/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.7/site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4->bs4) (1.9.3)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.7/site-packages (4.4.1)

# Part 1: 2019 MLB Data of All 30 Teams (40 Man Rosters)

In [2]:
# Estabolish data collection lists
file_teams = ['ARI', 'ATL', 'BAL', 'BOS', 'CHC', 'CHW', 'CIN', 'CLE', 'COL', 'DET', 'HOU', 'KCR', 'LAA', 'LAD', 'MIA', 'MIL', 'MIN', 'NYM', 'NYY', 'OAK', 'PHI', 'PIT', 'SDP', 'SEA', 'SFG', 'STL', 'TBR', 'TEX', 'TOR', 'WAS']
mlb_teams = []
mlb_names = []
mlb_ages = []
mlb_heights = []
mlb_weights = []
mlb_p_games = []
mlb_c_games = []
mlb_1b_games = []
mlb_2b_games = []
mlb_3b_games = []
mlb_ss_games = []
mlb_lf_games = []
mlb_cf_games = []
mlb_rf_games = []
mlb_war = []

In [3]:
# Loop through each team's html file
for i in file_teams:
    file = '19_' + i + '.html'
    
    # Soupify html files and navigate data rows 
    with open(file, encoding = 'utf-8') as file_reader:
        soup = BeautifulSoup(file_reader, "lxml")
        table = soup.find(lambda tag: tag.name=='table' and tag.has_attr('id') and tag['id']=="appearances")
        table_body = table.find('tbody')
        rows = table_body.find_all('tr')
        
        # Loop through each row (player) and gather data points
        for row in rows:
            name = row.find('a').get_text()
            age = row.find('td', attrs={"data-stat" : "age" }).get_text()
            height = row.find('td', attrs={"data-stat" : "height" }).get_text()
            weight = row.find('td', attrs={"data-stat" : "weight" }).get_text()
            P_games = row.find('td', attrs={"data-stat" : "G_p_app" }).get_text()
            C_games = row.find('td', attrs={"data-stat" : "G_c" }).get_text()
            FB_games = row.find('td', attrs={"data-stat" : "G_1b" }).get_text()
            SB_games = row.find('td', attrs={"data-stat" : "G_2b" }).get_text()
            TB_games = row.find('td', attrs={"data-stat" : "G_3b" }).get_text()
            SS_games = row.find('td', attrs={"data-stat" : "G_ss" }).get_text()
            LF_games = row.find('td', attrs={"data-stat" : "G_lf_app" }).get_text()
            CF_games = row.find('td', attrs={"data-stat" : "G_cf_app" }).get_text()
            RF_games = row.find('td', attrs={"data-stat" : "G_rf_app" }).get_text()
            war = row.find('td', attrs={"data-stat" : "WAR" }).get_text()
            
            # Add data points to corresponding data lists
            mlb_teams.append(i)
            mlb_names.append(name)
            mlb_ages.append(age)
            mlb_heights.append(height)
            mlb_weights.append(weight)
            mlb_p_games.append(P_games)
            mlb_c_games.append(C_games)
            mlb_1b_games.append(FB_games)
            mlb_2b_games.append(SB_games)
            mlb_3b_games.append(TB_games)
            mlb_ss_games.append(SS_games)
            mlb_lf_games.append(LF_games)
            mlb_cf_games.append(CF_games)
            mlb_rf_games.append(RF_games)
            mlb_war.append(war)

In [4]:
# Generate dataframe MLBPlayerInfo with data lists and column labels
MLBPlayerInfo = pandas.DataFrame({ 'Team' : mlb_teams,
                                 'Name' : mlb_names,
                                 'Age' : mlb_ages,
                                 'Height' : mlb_heights,
                                 'Weight' : mlb_weights,
                                 'Games as P' : mlb_p_games,
                                 'Games as C' : mlb_c_games,
                                 'Games as 1B' : mlb_1b_games,
                                 'Games as 2B' : mlb_2b_games,
                                 'Games as 3B' : mlb_3b_games,
                                 'Games as SS' : mlb_ss_games,
                                 'Games as LF' : mlb_lf_games,
                                 'Games as CF' : mlb_cf_games,
                                 'Games as RF' : mlb_rf_games,
                                 'WAR' : mlb_war})

In [5]:
MLBPlayerInfo.head(10)

,Team,Name,Age,Height,Weight,Games as P,Games as C,Games as 1B,Games as 2B,Games as 3B,Games as SS,Games as LF,Games as CF,Games as RF,WAR
0,ARI,Nick Ahmed,29,"6' 2""",195,0,0,0,0,0,158,0,0,0,4.3
1,ARI,Abraham Almonte,30,"5' 9""",210,0,0,0,0,0,0,0,3,9,0.6
2,ARI,Matt Andriese,29,"6' 2""",225,54,0,0,0,0,0,0,0,0,-0.1
3,ARI,Alex Avila,32,"5' 11""",210,2,54,0,0,0,0,0,0,0,1.4
4,ARI,Archie Bradley,26,"6' 4""",225,66,0,0,0,0,0,0,0,0,0.9
5,ARI,Andrew Chafin,29,"6' 2""",225,77,0,0,0,0,0,0,0,0,0.7
6,ARI,Taylor Clarke,26,"6' 4""",200,23,0,0,0,0,0,0,0,0,-0.2
7,ARI,Stefan Crichton,27,"6' 3""",200,28,0,0,0,0,0,0,0,0,0.3
8,ARI,Kevin Cron,26,"6' 5""",250,0,0,12,0,1,0,0,0,0,0.1
9,ARI,Jon Duplantier,24,"6' 4""",225,15,0,0,0,0,0,0,0,0,0.2

# Part 2: MLS Soccer Data of Current Players

In [6]:
# Creating arrays which will be filled with scraped data. These will be the column names in the dataframe I will build.

names = []
positions = []
heights = []
weights = []
ages = []
teams = []

In [7]:
# Creating an array with names of all the files that need to be scraped. I will loop through these when I scrape from them.

files= []
for x in range(0,25):
    file = ('Players _ MLSsoccer'+ str(x) + '.html')
    files.append(file)

In [8]:
# Looping through each file and using BeautifulSoup to scrape player name, height, weight, position, and age. I add those
# scraped parameters to their respecrive arrays

for file in files:
    with open(file, encoding = 'utf-8') as file_reader:
        soup = BeautifulSoup(file_reader, "lxml")
        players = soup.find_all(class_ = 'row')  
        for player in players:
            try:
                name = player.find('div', class_ = 'name').get_text()
                position = player.find('span', class_ = 'position').get_text()
                height = player.find('span', class_ = 'stat height').get_text()
                weight = player.find('span', class_ = 'stat weight').get_text()
                age = player.find('span', class_ = 'stat age').get_text()
                team = player.find('div', class_ = 'club').get_text()
                
            except:
                continue
            names.append(name)
            positions.append(position)
            heights.append(height)
            weights.append(weight)
            ages.append(age)
            teams.append(team)

In [9]:
#Building the dataframe with the now-filled arrays.

MLSPlayerInfo = pandas.DataFrame({ 'Team' : teams,
                                  'Name' : names,
                                  'Position' : positions,
                                  'Height' : heights,
                                  'Weight' : weights,
                                  'Age' : ages})

In [10]:
MLSPlayerInfo.head(10)

                 Team               Name    Position  Height Weight Age
0     Chicago Fire FC       Robert Beric     Forward   6' 2"    183  28
1     Chicago Fire FC      Boris Sekulic    Defender   6' 2"    161  28
2  Philadelphia Union   Brenden Aaronson  Midfielder  5' 10"    148  19
3       FC Cincinnati  Saad Abdul-Salaam    Defender   6' 4"    185  28
4         D.C. United       Mohammed Abu  Midfielder   5' 7"    150  28
5     Colorado Rapids     Lalas Abubakar    Defender   6' 1"    185  25
6        Nashville SC        David Accam     Forward   5' 9"    154  29
7    New York City FC    Nicolas Acevedo  Midfielder   5' 8"    160  21
8          Toronto FC             Achara  Midfielder  5' 10"    161  22
9      Inter Miami CF      George Acosta  Midfielder   5' 7"    130  20

# Part 3: EPL Soccer Data of Current Players

In [11]:
# Creating an array with names of all the files that need to be scraped. I will loop through these to scrape from them.
file_names = ['Arsenal', 'Aston Villa', 'BHA', 'Bournemouth', 'Burnley', 'Chelsea', \
              'Crystal Palace', 'Everton', 'Leicester', 'Liverpool','MCFC','MUFC', \
             'Newcastle', 'Norwich', 'SheffUtd', 'Southampton', 'Tottenham', 'Watford', \
             'West Ham', 'Wolves']
files= []
for x in file_names:
    file = (x + '.html')
    files.append(file)

In [12]:
# Looping through each file and using BeautifulSoup to scrape player team, name, height, weight, position, and birthdate.
# I add those scraped parameters to their respective arrays

names = []
positions = []
heights = []
weights = []
birthdates = []
teams = []

for file in files:
    with open(file, encoding = 'utf-8') as file_reader:
        soup = BeautifulSoup(file_reader, "lxml")
        players1 = soup.find_all('tr', class_ = 'shsRow0Row')
        players2 = soup.find_all(class_ = 'shsRow1Row')
        players = players1 + players2
        
        for player in players:
            name = player.find(class_ = "shsNamD").getText()
            height = player.find(class_ = "shsPlayerFeet").getText()
            weight = player.find(class_ = "shsPlayerPounds").getText()[:-4]
            position = player.find(class_ = "shsNamD shsRostPos shsHideCol").getText()
            birthdate = player.find_all(class_ = "shsNumD")[3].getText()
            team = file[:-5]
            
            names.append(name)
            teams.append(team)
            positions.append(position)
            heights.append(height)
            weights.append(weight)
            birthdates.append(birthdate)

In [13]:
#Building the dataframe with the arrays of player data.
EPLPlayerInfo = pandas.DataFrame({ 'Team' : teams,
                                  'Name' : names,
                                  'Position' : positions,
                                  'Height' : heights,
                                  'Weight' : weights,
                                  'Birthdate' : birthdates})

In [14]:
# stripping whitespace off of birthdate value in order to convert to datetime object and calculate age
for x in range(0, len(EPLPlayerInfo['Birthdate'])):
    EPLPlayerInfo['Birthdate'][x] = EPLPlayerInfo['Birthdate'][x].strip()

# replacing string dates with datetime object dates, dropping rows with blank birthdate cell
for x in range(0, len(EPLPlayerInfo['Birthdate'])):
    try:
        EPLPlayerInfo['Birthdate'][x] = datetime.strptime(EPLPlayerInfo['Birthdate'][x], "%m/%d/%Y")
    except:
        EPLPlayerInfo = EPLPlayerInfo.drop(index = x)

EPLPlayerInfo.reset_index(drop=True, inplace=True)

# calculating age from birthdate and adding to age array
current_date = datetime(2020, 5, 4)
ages = []
for x in range(0,len(EPLPlayerInfo['Birthdate'])):
    birthday =  EPLPlayerInfo['Birthdate'][x]
    age = (current_date.year - birthday.year)
    if(current_date.month < birthday.month): age = age - 1
    ages.append(age)

In [15]:
# adding age column to dataframe, dropping birthdate colum
EPLPlayerInfo['Age'] = ages
EPLPlayerInfo.drop(axis = 1, labels = 'Birthdate', inplace = True)

# dropping all rows which have empty cells, resetting index
EPLPlayerInfo.replace('', numpy.nan, inplace = True)
EPLPlayerInfo.dropna(how = 'any', inplace = True)
EPLPlayerInfo.reset_index(drop=True, inplace=True)

In [16]:
EPLPlayerInfo.head(10)

      Team                    Name    Position Height Weight  Age
0  Arsenal              Bernd Leno  Goalkeeper    6-3    183   28
1  Arsenal       Emiliano Martínez  Goalkeeper    6-5    194   27
2  Arsenal         Héctor Bellerín    Defender   5-10    163   25
3  Arsenal          Calum Chambers    Defender    6-0    146   25
4  Arsenal             Rob Holding    Defender    6-0    165   24
5  Arsenal              Pablo Marí    Defender    6-3    192   26
6  Arsenal       Sokratis Sokratis    Defender    6-1    187   31
7  Arsenal           Dani Ceballos  Midfielder   5-10    157   23
8  Arsenal  Ainsley Maitland-Niles  Midfielder   5-10    157   22
9  Arsenal            Reiss Nelson  Midfielder    5-9    157   20

# Part 4: BMI Function and Adding BMI to Dataframes

In [17]:
# Function that converts height in form 6' 3" to 75 (inches)
def height_conv(h):
    ft, inch = h.split("'")
    inches = 12*int(ft) + int(inch.strip('"'))
    return int(inches)

#Alternative heiight function converting height from form 6-3 to 75 (inches)
def alt_height_conv(h):
    ft, inch = h.split("-")
    inches = 12*int(ft) + int(inch)
    return int(inches)

# Function that takes height (in inches) and weight (in lbs) and returns BMI
def bmi(h, w):
    return int(w)*703/(int(h)**2)

### Replace Height Columns with Height in Inches

In [18]:
MLBPlayerInfo['Height'] = MLBPlayerInfo['Height'].apply(height_conv)
MLBPlayerInfo.head(10)

,Team,Name,Age,Height,Weight,Games as P,Games as C,Games as 1B,Games as 2B,Games as 3B,Games as SS,Games as LF,Games as CF,Games as RF,WAR
0,ARI,Nick Ahmed,29,74,195,0,0,0,0,0,158,0,0,0,4.3
1,ARI,Abraham Almonte,30,69,210,0,0,0,0,0,0,0,3,9,0.6
2,ARI,Matt Andriese,29,74,225,54,0,0,0,0,0,0,0,0,-0.1
3,ARI,Alex Avila,32,71,210,2,54,0,0,0,0,0,0,0,1.4
4,ARI,Archie Bradley,26,76,225,66,0,0,0,0,0,0,0,0,0.9
5,ARI,Andrew Chafin,29,74,225,77,0,0,0,0,0,0,0,0,0.7
6,ARI,Taylor Clarke,26,76,200,23,0,0,0,0,0,0,0,0,-0.2
7,ARI,Stefan Crichton,27,75,200,28,0,0,0,0,0,0,0,0,0.3
8,ARI,Kevin Cron,26,77,250,0,0,12,0,1,0,0,0,0,0.1
9,ARI,Jon Duplantier,24,76,225,15,0,0,0,0,0,0,0,0,0.2

In [19]:
MLSPlayerInfo['Height'] = MLSPlayerInfo['Height'].apply(height_conv)
MLSPlayerInfo.head(10)

                 Team               Name    Position  Height Weight Age
0     Chicago Fire FC       Robert Beric     Forward      74    183  28
1     Chicago Fire FC      Boris Sekulic    Defender      74    161  28
2  Philadelphia Union   Brenden Aaronson  Midfielder      70    148  19
3       FC Cincinnati  Saad Abdul-Salaam    Defender      76    185  28
4         D.C. United       Mohammed Abu  Midfielder      67    150  28
5     Colorado Rapids     Lalas Abubakar    Defender      73    185  25
6        Nashville SC        David Accam     Forward      69    154  29
7    New York City FC    Nicolas Acevedo  Midfielder      68    160  21
8          Toronto FC             Achara  Midfielder      70    161  22
9      Inter Miami CF      George Acosta  Midfielder      67    130  20

In [20]:
EPLPlayerInfo['Height'] = EPLPlayerInfo['Height'].apply(alt_height_conv)
EPLPlayerInfo.head(10)

      Team                    Name    Position  Height Weight  Age
0  Arsenal              Bernd Leno  Goalkeeper      75    183   28
1  Arsenal       Emiliano Martínez  Goalkeeper      77    194   27
2  Arsenal         Héctor Bellerín    Defender      70    163   25
3  Arsenal          Calum Chambers    Defender      72    146   25
4  Arsenal             Rob Holding    Defender      72    165   24
5  Arsenal              Pablo Marí    Defender      75    192   26
6  Arsenal       Sokratis Sokratis    Defender      73    187   31
7  Arsenal           Dani Ceballos  Midfielder      70    157   23
8  Arsenal  Ainsley Maitland-Niles  Midfielder      70    157   22
9  Arsenal            Reiss Nelson  Midfielder      69    157   20

### Add BMI Column to Each Dataframe

In [21]:
MLBPlayerInfo['BMI'] = [bmi(h, w) for h,w in zip(MLBPlayerInfo['Height'], MLBPlayerInfo['Weight'])]
MLBPlayerInfo.head(10)

,Team,Name,Age,Height,Weight,Games as P,Games as C,Games as 1B,Games as 2B,Games as 3B,Games as SS,Games as LF,Games as CF,Games as RF,WAR,BMI
0,ARI,Nick Ahmed,29,74,195,0,0,0,0,0,158,0,0,0,4.3,25.033784
1,ARI,Abraham Almonte,30,69,210,0,0,0,0,0,0,0,3,9,0.6,31.008192
2,ARI,Matt Andriese,29,74,225,54,0,0,0,0,0,0,0,0,-0.1,28.885135
3,ARI,Alex Avila,32,71,210,2,54,0,0,0,0,0,0,0,1.4,29.285856
4,ARI,Archie Bradley,26,76,225,66,0,0,0,0,0,0,0,0,0.9,27.384868
5,ARI,Andrew Chafin,29,74,225,77,0,0,0,0,0,0,0,0,0.7,28.885135
6,ARI,Taylor Clarke,26,76,200,23,0,0,0,0,0,0,0,0,-0.2,24.342105
7,ARI,Stefan Crichton,27,75,200,28,0,0,0,0,0,0,0,0,0.3,24.995556
8,ARI,Kevin Cron,26,77,250,0,0,12,0,1,0,0,0,0,0.1,29.642435
9,ARI,Jon Duplantier,24,76,225,15,0,0,0,0,0,0,0,0,0.2,27.384868

In [22]:
MLSPlayerInfo['BMI'] = [bmi(h, w) for h,w in zip(MLSPlayerInfo['Height'], MLSPlayerInfo['Weight'])]
MLSPlayerInfo.head(10)

,Team,Name,Position,Height,Weight,Age,BMI
0,Chicago Fire FC,Robert Beric,Forward,74,183,28,23.493243
1,Chicago Fire FC,Boris Sekulic,Defender,74,161,28,20.668919
2,Philadelphia Union,Brenden Aaronson,Midfielder,70,148,19,21.233469
3,FC Cincinnati,Saad Abdul-Salaam,Defender,76,185,28,22.516447
4,D.C. United,Mohammed Abu,Midfielder,67,150,28,23.490755
5,Colorado Rapids,Lalas Abubakar,Defender,73,185,25,24.405142
6,Nashville SC,David Accam,Forward,69,154,29,22.739340
7,New York City FC,Nicolas Acevedo,Midfielder,68,160,21,24.325260
8,Toronto FC,Achara,Midfielder,70,161,22,23.098571
9,Inter Miami CF,George Acosta,Midfielder,67,130,20,20.358654

In [23]:
# need to strip weight column of any whitespace before assigninig BMI column, ran into error when this was not done
for x in EPLPlayerInfo["Weight"]:
    x.strip()

EPLPlayerInfo['BMI'] = [bmi(h, w) for h,w in zip(EPLPlayerInfo['Height'], EPLPlayerInfo['Weight'])]
EPLPlayerInfo.head(10)

      Team                    Name    Position  Height Weight  Age        BMI
0  Arsenal              Bernd Leno  Goalkeeper      75    183   28  22.870933
1  Arsenal       Emiliano Martínez  Goalkeeper      77    194   27  23.002530
2  Arsenal         Héctor Bellerín    Defender      70    163   25  23.385510
3  Arsenal          Calum Chambers    Defender      72    146   25  19.798997
4  Arsenal             Rob Holding    Defender      72    165   24  22.375579
5  Arsenal              Pablo Marí    Defender      75    192   26  23.995733
6  Arsenal       Sokratis Sokratis    Defender      73    187   31  24.668981
7  Arsenal           Dani Ceballos  Midfielder      70    157   23  22.524694
8  Arsenal  Ainsley Maitland-Niles  Midfielder      70    157   22  22.524694
9  Arsenal            Reiss Nelson  Midfielder      69    157   20  23.182315

# Part 5: Combining Soccer League Data into single dataframe

In [24]:
# Adding league column to each dataframe
EPLPlayerInfo['League'] = 'EPL'
MLSPlayerInfo['League'] = 'MLS'

#Combining Dataframes, resetting index, reordering columns
SoccerPlayerInfo = pandas.concat([EPLPlayerInfo,MLSPlayerInfo])
SoccerPlayerInfo.reset_index(drop=True, inplace=True)
SoccerPlayerInfo = SoccerPlayerInfo[['League', 'Team', 'Name', 'Position', 'Age', 'Height', 'Weight', 'BMI']]
SoccerPlayerInfo.head(10)

,League,Team,Name,Position,Age,Height,Weight,BMI
0,EPL,Arsenal,Bernd Leno,Goalkeeper,28,75,183,22.870933
1,EPL,Arsenal,Emiliano Martínez,Goalkeeper,27,77,194,23.002530
2,EPL,Arsenal,Héctor Bellerín,Defender,25,70,163,23.385510
3,EPL,Arsenal,Calum Chambers,Defender,25,72,146,19.798997
4,EPL,Arsenal,Rob Holding,Defender,24,72,165,22.375579
5,EPL,Arsenal,Pablo Marí,Defender,26,75,192,23.995733
6,EPL,Arsenal,Sokratis Sokratis,Defender,31,73,187,24.668981
7,EPL,Arsenal,Dani Ceballos,Midfielder,23,70,157,22.524694
8,EPL,Arsenal,Ainsley Maitland-Niles,Midfielder,22,70,157,22.524694
9,EPL,Arsenal,Reiss Nelson,Midfielder,20,69,157,23.182315

# Part 6: Cleaning MLB Position Data

In [25]:
# Create new column for main position
MLBPlayerInfo['Position'] = numpy.nan

# Loop through each player (row) in MLBPlayerInfo 
for index, row in MLBPlayerInfo.iterrows():
    
    # Keep track of max position and number of appearances at said position
    max_pos = ''
    max_games = 0
    
    # Check each column to find max positions
    if int(row['Games as P']) > max_games:
        max_pos = 'P'
        max_games = int(row['Games as P'])
    if int(row['Games as C']) > max_games:
        max_pos = 'C'
        max_games = int(row['Games as C'])
    if int(row['Games as 1B']) > max_games:
        max_pos = '1B'
        max_games = int(row['Games as 1B'])
    if int(row['Games as 2B']) > max_games:
        max_pos = '2B'
        max_games = int(row['Games as 2B'])
    if int(row['Games as 3B']) > max_games:
        max_pos = '3B'
        max_games = int(row['Games as 3B'])
    if int(row['Games as SS']) > max_games:
        max_pos = 'SS'
        max_games = int(row['Games as SS'])
    if int(row['Games as LF']) > max_games:
        max_pos = 'LF'
        max_games = int(row['Games as LF'])
    if int(row['Games as CF']) > max_games:
        max_pos = 'CF'
        max_games = int(row['Games as CF'])
    if int(row['Games as RF']) > max_games:
        max_pos = 'RF'
        max_games = int(row['Games as RF'])
    
    # Assign main player position to newly added 'Position' column
    MLBPlayerInfo.loc[index,'Position'] = max_pos
    
# Delete individual appearance rows
del MLBPlayerInfo['Games as P']
del MLBPlayerInfo['Games as C']
del MLBPlayerInfo['Games as 1B']
del MLBPlayerInfo['Games as 2B']
del MLBPlayerInfo['Games as 3B']
del MLBPlayerInfo['Games as SS']
del MLBPlayerInfo['Games as LF']
del MLBPlayerInfo['Games as CF']
del MLBPlayerInfo['Games as RF']

In [26]:
MLBPlayerInfo.head(10)

  Team             Name Age  Height Weight   WAR        BMI Position
0  ARI       Nick Ahmed  29      74    195   4.3  25.033784       SS
1  ARI  Abraham Almonte  30      69    210   0.6  31.008192       RF
2  ARI    Matt Andriese  29      74    225  -0.1  28.885135        P
3  ARI       Alex Avila  32      71    210   1.4  29.285856        C
4  ARI   Archie Bradley  26      76    225   0.9  27.384868        P
5  ARI    Andrew Chafin  29      74    225   0.7  28.885135        P
6  ARI    Taylor Clarke  26      76    200  -0.2  24.342105        P
7  ARI  Stefan Crichton  27      75    200   0.3  24.995556        P
8  ARI       Kevin Cron  26      77    250   0.1  29.642435       1B
9  ARI   Jon Duplantier  24      76    225   0.2  27.384868        P

# Part 7: Adding Quality Ratings to Soccer Players

In [27]:
#loading soccer player data and EPL player rating information from whoscored.com
soccerData = SoccerPlayerInfo
sratings = pandas.read_csv('EPLratings.csv')
mlsratings = pandas.read_csv('MLSRatings.csv')

In [28]:
# assigning play ratings according to WhoScored.com's EPL and MLS Rating System.

soccerData['Rating'] = 0.00
for x in range(0, len(sratings)):
    for index in range (0,len(soccerData)):
        if (soccerData['Name'][index] == sratings['Name'][x]):
            soccerData['Rating'][index] = sratings['Rating'][x]
            
for x in range(0, len(mlsratings)):
    for index in range (0,len(soccerData)):
        if (soccerData['Name'][index] == unidecode.unidecode(mlsratings['Name'][x])):
            soccerData['Rating'][index] = mlsratings['Rating'][x]
            
# Remove players with 0 value that weren't included in WhoScored.com data

soccerDataNo0 = soccerData[soccerData['Rating'] > 0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [29]:
soccerDataNo0.head(10)

,League,Team,Name,Position,Age,Height,Weight,BMI,Rating
0,EPL,Arsenal,Bernd Leno,Goalkeeper,28,75,183,22.870933,6.88
2,EPL,Arsenal,Héctor Bellerín,Defender,25,70,163,23.385510,6.63
3,EPL,Arsenal,Calum Chambers,Defender,25,72,146,19.798997,6.86
4,EPL,Arsenal,Rob Holding,Defender,24,72,165,22.375579,6.25
5,EPL,Arsenal,Pablo Marí,Defender,26,75,192,23.995733,7.37
6,EPL,Arsenal,Sokratis Sokratis,Defender,31,73,187,24.668981,6.82
7,EPL,Arsenal,Dani Ceballos,Midfielder,23,70,157,22.524694,6.79
8,EPL,Arsenal,Ainsley Maitland-Niles,Midfielder,22,70,157,22.524694,6.79
9,EPL,Arsenal,Reiss Nelson,Midfielder,20,69,157,23.182315,6.37
10,EPL,Arsenal,Lucas Torreira,Midfielder,24,66,141,22.755510,6.61

# Part 8: Export to CSV

In [30]:
# Export both dataframes to CSV for analysis in another notebook
MLBPlayerInfo.to_csv('MLBPlayerInfo.csv')
soccerDataNo0.to_csv('SoccerPlayerInfo.csv')